:root{
	--c1: #000; /*background colour*/
	--c2: #fff; /*foreground (text) colour*/
	--c3: #aaa; /*border colour*/
	
}
body {
  padding : 0;
  margin : 0;
  <!http://forgetoday.com/press/wp-content/uploads/sites/2/2016/05/Sheffield_Students_Union_Concourse.jpg>
  background-color:#AAAAAA;
  font-family: 'Fjalla One', sans-serif;
}
#aboutBody{
  background-color: gray;
}
/* global */
.container{
  width: 80%;
  margin: auto;
  overflow:hidden;
}
ul {
  margin: 0;
  padding: 0;
}
/* header */
header {
  background: var(--c1);
  color: var(--c2);
  padding-top: 30px;
  min-height: 70px;
  border-bottom: var(--c3) 3px solid;
}
header a {
  color : var(--c2);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

header li {

  display: inline-block;
  padding: 0 20px 10px 20px;
  color : var(--c2);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  list-style: none;
}
header #branding h1 {
  float: left;


}
header h1 {
  margin-top:5px;
  font-size: 25px;


}
header nav {
  float: right;
  margin-top: 10px;
}
header.highlight, header .current a{
  color: var(--c3);
  font-weight: bold;
}
header a:hover {
  color: var(--c3);
  transition: 0.3s;
}
.toggle {
  width: 100%;
  padding: 10px 20px;
  background: var(--c3);
  text-align: right;
  box-sizing: border-box;
  font-size: 30px;
  display: none;
}


/* display */
#display {
  min-height: 400px;
  background : linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.5)),url(../images/testimage.png) no-repeat 0 0px;
  text-align : center;
  color: var(--c2);
  border-bottom: var(--c3) 3px solid;
}
#display h1{
  margin-top: 100px;
  font-size: 50px;
  margin-bottom: 10px;
}
#display p {
    font-size: 20px;
}

/* Social Media*/
#socialmedialinks
{
  margin: 0px;
  background : var(--c1);
  color: var(--c2);
  text-align: center;
  padding-bottom: 0px;
}

#socialmedialinks .icons{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
  margin-left: 20px;
  margin-top: 2.5%;
}
#socialmedialinks .icons i {
  weight: 15%;
  height:10%;
  color:var(--c2);
  font-size: 45px;
}

footer{
  padding: 20px;
  margin-top : 0px;
  background-color: var(--c1);
  text-align: center;
  color: var(--c2);
  border-bottom: var(--c3) 5px solid;
}

/* Contact */
#contactBody {
  /* image from ->
     Website title:	Promptcloud.com
     URL:	https://www.promptcloud.com/wp-content/uploads/2018/07/how-build-data-science-team-big-data-1024x512.jpg
  */
  background : linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.5)),url(contactimage.jpg) no-repeat 0 -400px;
}
.container #contact{

  background : linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.5)),url(contactimage.jpg) no-repeat 0 -400px;
}
#contacthead {
  margin-top: 50px;
}
#contact h1 {
  margin-top: 20px;
  text-align: center;
  color: var(--c2);
  font-size: 50px;
}
#contact p {
  text-align: center;
  color: var(--c2);
  font-size: 20px;
}
.contactFormEntry {

  margin-left: 15%;
  width: 80%;
  padding: 10% 0;
  text-align: center;

}
input {
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom:3px solid var(--c3);
}
#message{
  margin-top: 30px;
}
#submit{
  padding: 20px;
  text-align: center;
  color: #EAEAEA;
  background-color:var(--c3);
  border: none;

}
::-webkit-input-placeholder{
  color: #EAEAEA;
  letter-spacing: 2px;
}

/* About us */
#aboutBody{
  /* image from ->
     Article title:	Man Looking Outside Window Carrying Black and Brown Backpack While Holding His Hand on Window 路 Free Stock Photo
     Website title:	Pexels.com
     URL:	https://www.pexels.com/photo/man-looking-outside-window-carrying-black-and-brown-backpack-while-holding-his-hand-on-window-1251861/
  */
  background : linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.5)),url(adult-architecture-backpack-1251861.jpg) repeat 0 -400px;
}
#abouthead {
  margin-top: 50px;
}
#abouthead h1 {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 50px;
}

#aboutBody p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#aboutBody #information p {

  padding: 10px;
  margin-top: 5px;
  text-align: none;
}
#abouthead p {
  margin-top: 0px;
  font-size: 30px;
}
#findUs p{
  float:left;
  margin-left: 25%;

}
#findUs img {
  float: right;
  margin-right: 25%;
  padding-bottom: 5px;
}

/* Areas*/
#areasBody{
  /* Image from ->

     Article title:	Woman Standing Near Group of People 路 Free Stock Photo
     Website title:	Pexels.com
     URL:	https://www.pexels.com/photo/woman-standing-near-group-of-people-1449791/
  */
  background : linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.5)),url(club.jpg) repeat 0 -400px;
}
#areashead {
  margin-top: 50px;
}
#areashead h1 {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 50px;
}

#areasBody p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#areasBody #information p {

  padding: 10px;
  margin-top: 5px;
  text-align: none;
}
#areashead p {
  margin-top: 0px;
  font-size: 30px;
}

/* A typical Week */

#weekBody{
  /* Image from ->
     Article title:	Close-up Photo of Calendar 路 Free Stock Photo
     Website title:	Pexels.com
     URL:	https://www.pexels.com/photo/black-calendar-close-up-composition-273011/
  */
  background : linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.5)),url(week.jpg) repeat 0 -400px;
}
#weekhead {
  margin-top: 50px;
}
#weekhead h1 {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 50px;
}

#weekBody p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#weekBody #information p {

  padding: 10px;
  margin-top: 5px;
  text-align: none;
}
#weekhead p {
  margin-top: 0px;
  font-size: 30px;
}
/* Accessibility */

#accessibilityBody{
  /* Image from ->
     Article title:	Group of People Holding Message Boards 路 Free Stock Photo
     Website title:	Pexels.com
     URL:	https://www.pexels.com/photo/group-of-people-holding-message-boards-1059116/
  */
  background : linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.5)),url(adult-announcement-business-1059116.jpg) repeat 0 -400px;
}
#accessibilityText p {
  font-size: 20px;
  margin-bottom: 10px;
}
@media (max-width: 768px){
  .toggle{
    display: block;

  }
  #socialmedia .icons{
    float: left;
    width: 15%;
    padding: 10px;
    text-align: center;
    margin-left: 10%;
    margin-top: 2.5%;

  }
  #socialmedia .icons i {
    weight: 90px;
    height: 60px;
    color: #fff;
    font-size: 30px;

  }
  .toggle a{
    font-size: 24px;
    float: left;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5px;
  }
  .toggle i {
    float: none;
    margin-right: 45%;
    margin-bottom: 10px;
  }

  #branding{
    display: none;

  }
  ul {
    width: 100%;
    display: none;
    margin-left: 0;
  }
  header li {

    display: block;
    padding:20px;
    color : #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    margin: 0;

  }

  .active {

    display: block;
    transition: 0.5s;
  }
}
