<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super Musico Bros</title>
  <link rel="icon" href="images/placeholder_logo.png">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<header> <%= erb :head %></header>
<body>
    <section id = "display" alt="picture of the students union">
        <div class = "container" >
            <h1> Super Musico Bros </h1>
            <p> want us to build you a computer? sure thing!</p>
        </div>
    </section>
    <section id="socialmedialinks">
        <div class= "container">
          <div class="icons">
            <a href="https://www.instagram.com/supermusicobros/"><i class="fab fa-instagram"></i></a>
          </div>
		  <div class="icons">
            <a href="https://www.youtube.com/channel/UChMY4O_shFyN6a49XsrLq0A"><i class="fab fa-youtube"></i></a>
          </div>
          <div class="icons">
            <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
    </section>
</body>
<footer>
    <p>EUAN HILLERBY & Mattias Cross 2020 BABY</p>
</footer>
</html>
</html>