<header>
  <div class="container">
      <div align="left">
	    <img src="images/placeholder_logo.png" alt="logo" style="width:50px;height:50px;">
      </div>
      <div class= "toggle">
        <i class="fa fa-bars menu"></i>
        <h1> <a href="index.html">Super Musico Bros </a></h1>
      </div>
      <div id= branding>
          <h1> <a href="index.html">Super Musico Bros </a></h1>
      </div>
      <nav>

        <ul>
            <li><a href="about.html">About us</a></li>
            <li><a href="highlights.html">Highlights</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="mattias.html">Mattias</a></li>
            <li><a href="euan.html">Euan</a></li>
        </ul>
      </nav>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.menu').click(function(){
            $('ul').toggleClass('active')
          })
        })
      </script>
  </div >
</header>